.pixi
.venv
.git
.github
.env
.env.*
!.env.example
**/__pycache__
**/*.pyc
**/.ipynb_checkpoints
nbs
_docs
_proc
deploy
services
string_therapy_for_material_science
routes
ui
pixi.toml
pixi.lock
pyproject.toml
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache
.DS_Store
